{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical YouTube Videos</title>

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Include Sora font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo-container">
                <a href="{% url 'home' %}">
                    <div class="logo-text">
                        <img class="logo" src="{% static 'images/nav/BIn.svg' %}" width="60" height="60" alt="MarkBins Logo">
                        <span class="text">MarkBins</span>
                    </div>
                </a>
            </div>
            <ul class="list-nav-bar active" role="navigation">
                <li class="list-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-item"><a href="{% url 'guide' %}">Guide</a></li>
                <li class="list-item"><a href="{% url 'blogs' %}">Blogs</a></li>
                <li class="list-item"><a href="{% url 'video_tutorial' %}">Video-Tutorial</a></li>
                <li class="list-item"><a href="{% url 'about' %}">About</a></li>
                <li class="list-item"><a href="{% url 'contact' %}">Contact-us</a></li>
            </ul>
            <div class="fas burger-menu" id="burger-menu">&#9776;</div>
        </nav>
    </header>

    <div class="container">
        <h1 class="heading">Video-Tutorials</h1>
        <div class="video-container">
            <div class="video">
                <h3>How Waste Segregation can save our planet</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Pe5fSaOTtDo" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>Proper Waste Management</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Qyu-fZ8BOnI" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>India's Garbage Crisis</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xXeD5YEE4TQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>Plastic Pollution is Killing Wildlife</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7Y3T6T12CK8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video">
                <h3>Mumbai's Dirty Problem: Deonar</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MS4v3nosc28" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr>
    <section class="footer-sec">
        <footer>
            <div class="footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col item social">
                            <a href="https://twitter.com/Mark__bin"><i class="icon ion-social-twitter"></i></a>
                            <a href="https://www.instagram.com/markbin_2024/" target="_blank"><i class="icon ion-social-instagram"></i></a>
                            <a href="https://github.com/yourusername" target="_blank"><i class="icon ion-social-github"></i></a>
                        </div>
                    </div>
                    <p class="copyright">Markbins © 2024</p>
                </div>
            </div>
        </footer>
    </section>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'Js/nav.js' %}"></script>

</body>
</html>
